dlib==19.24.6
ffmpeg_python==0.2.0
Flask==2.2.3                     # Compatible with Flask_Cors 5.0.0
Flask_Cors==5.0.0
gensim==4.3.3
imageio==2.36.0
librosa==0.10.2.post1
moviepy==1.0.3
numpy>=1.21.6,<2.1.0             # Adjusted for compatibility with scipy and scikit-learn
opencv_python==4.8.1.78
scikit_learn==1.2.2               # Compatible with the updated numpy version
scipy>=1.9.0,<1.14.0              # Ensure compatibility with numpy
spacy==3.2.4                      # Works well with numpy and thinc
torch==1.12.1                     # Compatible with transformers
transformers==4.45.2              # Works with torch
sentence-transformers==3.2.0
whisper==1.1.10                   # Ensure compatibility with torch
gunicorn==23.0.0
Werkzeug==2.2.2